#_cards {
  border: solid 1px #eee;
  box-shadow: 0 2px 6px rgba(0,0,0, .12);
  border-radius: .4rem;
  padding: .5rem;
  width: auto;
  max-width: 20rem;
  min-width: 12rem;
  margin: .5rem 0;
  position: relative;
  transition: border-color 300ms, box-shadow 300ms;

  @media screen and (max-width: $size-lg) {
    max-width: 18rem; 
  }

  &:hover {
    box-shadow: 0 3px 12px rgba(0,0,0,.12);
  }

  &.active {
    border-color: $primary-color;
    box-shadow: 0 2px 8px rgba($primary-color-dark, .22);
    &:hover {
      box-shadow: 0 3px 20px rgba($primary-color-dark, .2);
    }
  }

  .tile-content {
    .tile-title {
      font-size: 1rem;
      color: #555;
      font-weight: 500;
      @media screen and (max-width: $size-lg) {
        font-size: $font-size-lg;
      }
      @media screen and (max-width: $size-md) {
        font-size: $font-size;
      }
    }
    .tile-subtitle {
      display: flex;
      justify-content: space-between;
      margin-top: .3rem;
      font-size: .7rem;
      @media screen and (max-width: $size-xl) {
        font-size: .6rem;
      }
      @media screen and (max-width: $size-lg) {
        font-size: .5rem;        
      }
      @media screen and (max-width: $size-md) {
        font-size: .45rem;
        margin-top: 0;
      }
    }
  }
}