@import 'variables';

//views
@import 'views/admin.scss';
@import 'views/login.scss';
@import 'views/homepage.scss';
@import 'views/admin_tabs/search.scss';
@import 'views/admin_tabs/admin_lesson_detail.scss';

//components
@import 'components/card.scss';
@import 'components/table.scss';
@import 'components/modal.scss';

//layouts
@import 'layout/header.scss';

.fade-enter-active, .fade-leave-active {
  transition: opacity 300ms;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.vue-notification {
  font-size: 20px !important;
  @media screen and (max-width: $size-md) {
    font-size: 16px !important;
  }
}

.text-small {
  font-size: $font-size-sm;
}

html {
  scroll-behavior: smooth;
}