#_search {
  font-size: $font-size-lg;
  @media screen and (max-width: $size-md) {
    font-size: $font-size;
  }

  .data-selects {
    margin: 0 .5rem 1rem;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    .feather {
      font-weight: 700;
      &::before {
        border: none;
      }
    }
  }

  #_table {
    margin-top: 1rem;
  }
}